<div class="footer">
    <div class="row mx-0">
        <div class="col-md-3">
            <div class="footer-text-block">
                <h1>Curabitur</h1>
                <ul>
                    <li><a href="#">Emauris</a></li>
                    <li><a href="#">Kfringilla</a></li>
                    <li><a href="#">Oin magna sem</a></li>
                    <li><a href="#">Kelementum</a></li>
                </ul>
            </div>

        </div>
        <div class="col-md-3">
            <div class="footer-text-block">
                <h1>Fusce</h1>
                <ul>
                    <li><a href="#">Econsectetur</a></li>
                    <li><a href="#">Ksollicitudin</a></li>
                    <li><a href="#">Omvulputate</a></li>
                    <li><a href="#">Nunc fringilla tellu</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="footer-text-block">
                <h1>Kontakt</h1>
                <ul>
                    <li class="font-weight-bold">Peakontor: Tallinnas</li>
                    <li>Väike-Ameerika 1, 11415 Tallinn</li>
                    <li>Telefon: 605 4450</li>
                    <li>Faks: 605 3186</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="footer-text-block">
                <h1 class="invisible">#</h1>
                <ul>
                    <li class="font-weight-bold">Harukontor: Võrus</li>
                    <li>Oja tn 7 (külastusaadress)</li>
                    <li>Telefon: 605 3330</li>
                    <li>Faks: 605 3155</li>
                </ul>
            </div>
        </div>
    </div>
</div>
