<div class="block-1 block-blue mb-4">
    <div class="row mx-0 align-items-center">
        <div class="col-md-7 order-1 p-md-0">
            <div class="clearfix">
                <div class="img-fluid float-right">
                    <img src="~/src/assets/pilt.jpg" />
                </div>
            </div>
        </div>
        <div class="col-md-5 order-0">
            <div class="text-block">
                <p>
                    Sed nec elit vestibulum, <span>tincidunt orci</span> et, sagittis ex.
                    Vestibulum rutrum <span>neque suscipit</span> ante mattis maximus.
                    Nulla non sapien <span>viverra, lobortis lorem non,</span> accumsan metus.
                </p>
            </div>
        </div>
    </div>
</div>